# App
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Blockchain
NEXT_PUBLIC_RPC_URL=http://127.0.0.1:8545
NEXT_PUBLIC_CHAIN_ID=31337

# Contract addresses
NEXT_PUBLIC_WATCH_NFT_ADDRESS=
NEXT_PUBLIC_KYC_REGISTRY_ADDRESS=
NEXT_PUBLIC_ORACLE_ADDRESS=
NEXT_PUBLIC_WETH_ADDRESS=
NEXT_PUBLIC_SHARE_TOKEN_ADDRESS=
NEXT_PUBLIC_DEX_ADDRESS=

# Indexer
NEXT_PUBLIC_INDEXER_URL=http://localhost:3001

# Backend (email KYC)
NEXT_PUBLIC_BACKEND_URL=http://localhost:3001
